<div class="example-container">
    <span class="center">Tienda</span>
    <ng-container *ngIf="errorMessage">
      <span class="error">{{errorMessage}}</span>
    </ng-container>
   
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="title">Nombre de usuario</label>
        <input type="text" id="email" class="form-control" formControlName="email" />
      </div>
   
      <div class="form-group">
        <label for="description">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password" />
      </div>
   
      <div class="buttons-container center">
        <button class="btn btn-primary" (click)="signIn()">
          Login
        </button>
        <button class="btn btn-success" (click)="createUser()">
          Crear cuenta
        </button>
      </div>
    </form>
   </div>